<!-- Content below fixed navbar -->
<div class="container-fluid pt-5">
  <div class="row gx-3 gy-3">
    
    <!-- Sidebar (stacked on mobile) -->
    <div class="col-12 col-lg-2">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content (full width on mobile) -->
    <div class="col-12 col-lg-7">
      <app-main-content></app-main-content>
    </div>

    <!-- Rightbar (hidden on mobile) -->
    <div class="d-none d-lg-block col-lg-3">
      <app-rightbar></app-rightbar>
    </div>

  </div>
</div>